@import "variables.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  color: $primary;
}

h2:first-child, h3:first-child {
  margin-top: 0;
}

.hidden {
  visibility: hidden;
}

//Material override
.mat-radio-group .mat-radio-button {
  margin-right: 16px;
}

.mat-checkbox, .mat-radio-button {
  margin-bottom: 8px;
}

.mat-error {
  padding-top: 16px;
}

.mat-checkbox-layout, .mat-radio-label {
  white-space: normal !important;
}
