@import "variables.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  color: $primary;
}

h2, h3 {
  margin-top: 0;
}

.hidden {
  visibility: hidden;
}
