@import "variables.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  color: $primary;
}

h2:first-child,
h3:first-child {
  margin-top: 0;
}

.hidden {
  visibility: hidden;
}

.button-next {
  padding-top: 24px;
}

.fill {
  flex: 1 0 0%;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

.mat-flat-button.big-button {
  font-size: 20px;
  line-height: 1.25;
  padding: 12px 24px;
}

//Material override
.mat-radio-group .mat-radio-button {
  margin-right: 16px;
}

.mat-checkbox,
.mat-radio-button {
  margin-bottom: 8px;
}

.mat-error {
  padding-top: 16px;
}

.mat-checkbox-layout,
.mat-radio-label {
  white-space: normal !important;
}

.mat-row {
  padding: 6px 0;
  box-sizing: border-box;
}

.mat-header-cell.column-50,
.mat-cell.column-50,
.mat-footer-cell.column-50 {
  flex: 0 0 50%;
}

.mat-header-cell.action,
.mat-cell.action,
.mat-footer-cell.action {
  display: flex;
  justify-content: flex-end;
}

tr.mat-row,
tr.mat-footer-row {
  display: flex;
  border-width: 0;
  border-bottom-color: rgba(21, 28, 32, 0.12);
  border-bottom-width: 1px;
  border-style: solid;
  align-items: center;
  box-sizing: border-box;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border: none !important;
}
