<h3>К какому(-им) типу(-ам) относится Ваша информационная система (ИС)?</h3>
<section [formGroup]="typeFormGroup" class="section">
  <mat-checkbox formControlName="isIspdn">ИС персональных данных</mat-checkbox>
  <mat-checkbox formControlName="isGis">Государственная информационная система</mat-checkbox>
  <mat-checkbox formControlName="isAsutp">
    Автоматизированная система управления технологическими процессами
  </mat-checkbox>
  <mat-checkbox formControlName="isKii">Объект критической информационной инфраструктуры</mat-checkbox>
  <mat-error *ngIf="typeFormGroup.invalid">
    Необходимо выбрать хотя бы один тип информационной системы.
    <br>
    Если Вы не обладаете данными знаниями, Вы можете узнать тип вашей информационной системы, пройдя
    <a routerLink="/help-survey">подготовленный опрос</a>
  </mat-error>
</section>
<h3 *ngIf="isTypesSelected">К какому классу информационной системы она относится?</h3>
<form [formGroup]="classFormGroup" class="class-form">
  <div *ngIf="typeFormGroup.get('isIspdn')?.value">
    <h4>ИС персональных данных (уровень защищенности)</h4>
    <mat-radio-group formControlName="classIspdn">
      <mat-radio-button *ngFor="let level of protectionLevels" [value]="level.key">
        {{level.value}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="typeFormGroup.get('isGis')?.value">
    <h4>Государственная информационная система (класс защищенности)</h4>
    <mat-radio-group formControlName="classGis">
      <mat-radio-button *ngFor="let class of protectionClasses" [value]="class.key">
        {{class.value}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="typeFormGroup.get('isAsutp')?.value">
    <h4>Автоматизированная система управления технологическими процессами (класс защищенности)</h4>
    <mat-radio-group formControlName="classAsutp">
      <mat-radio-button *ngFor="let class of protectionClasses" [value]="class.key">
        {{class.value}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="typeFormGroup.get('isKii')?.value">
    <h4>Объект критической информационной инфраструктуры (критерий значимости)</h4>
    <mat-radio-group formControlName="classKii">
      <mat-radio-button *ngFor="let attribute of significanceAttributes" [value]="attribute.key">
        {{attribute.value}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</form>