.section {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.class-form {
  padding-bottom: 24px;
  box-sizing: border-box;

  mat-radio-button {
    margin-right: 16px;
  }
}

mat-error {
  padding-top: 16px;
}