<div class="flex-center">
  <a mat-button color="primary" routerLink="/templates">
    <mat-icon>arrow_back</mat-icon>
    Шаблоны
  </a>
  <h2>Входные данные</h2>
</div>
<div class="description">
  Ниже Вам предложено ответить на ряд вопросов, от ответов на которые будут зависеть на результат моделирования угроз
</div>
<mat-stepper orientation="vertical" linear #surveyStepper>
  <mat-step [completed]="isFirstStepValid">
    <ng-template matStepLabel>Тип и класс информационной системы</ng-template>
    <app-is-survey (validityChanged)="isFirstStepValid = $event">
    </app-is-survey>
    <div class="button-next">
      <button mat-stroked-button matStepperNext color="primary" [disabled]="!isFirstStepValid">Далее</button>
    </div>
  </mat-step>
  <mat-step *ngIf="(isSurvey$ | async)?.isIspdn">
    <ng-template matStepLabel>ИСПДн</ng-template>
    <app-ispdn-survey (isSurveyResultChanged)="ispdnSurveyResult = $event"></app-ispdn-survey>
    <div class="button-next">
      <button mat-stroked-button matStepperNext color="primary" [disabled]="!ispdnSurveyResult?.pdnTypes?.length">
        Далее
      </button>
    </div>
  </mat-step>
  <mat-step *ngIf="(isSurvey$ | async)?.isGis">
    <ng-template matStepLabel>ГИС</ng-template>
    <h3>Каков масштабный вашей информационной системы?</h3>
    <mat-radio-group [value]="gisSize$ | async" (change)="updateGisSize($event)">
      <div>
        <mat-radio-button *ngFor="let size of gisSizes" [value]="size.key">
          {{size.value}}
        </mat-radio-button>
      </div>
    </mat-radio-group>
    <div class="button-next">
      <button mat-stroked-button matStepperNext color="primary">
        Далее
      </button>
    </div>
  </mat-step>
  <mat-step *ngIf="(isSurvey$ | async)?.isKii">
    <ng-template matStepLabel>КИИ</ng-template>
    <h3>В какой сфере работает ваша организация?</h3>
    <div *ngFor="let specification of kiiSpecifications">
      <mat-checkbox [value]="specification.key" [checked]="kiiSpecification?.includes(specification.key)"
        (change)="kiiSpecificationChange($event)">
        {{specification.value}}
      </mat-checkbox>
    </div>
    <div class="button-next">
      <button mat-stroked-button matStepperNext color="primary">
        Далее
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Общие вопросы</ng-template>
    <app-common-survey (isSurveyResultChanged)="commonSurveyResult = $event"></app-common-survey>
    <div class="button-next">
      <button mat-stroked-button matStepperNext color="primary">
        Далее
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Типы объектов</ng-template>
    <h3>Какие типы объектов присутствуют в ИС?</h3>
    <div *ngFor="let assetType of (assetTypes$ | async)">
      <mat-checkbox [value]="assetType.id.toString()"
        [checked]="(selectedAssetTypesIds$ | async)?.includes(assetType.id)" (change)="assetTypesChange($event)">
        {{assetType.name}}
      </mat-checkbox>
    </div>
    <div class="button-next">
      <button mat-flat-button color="primary" (click)="completeSurvey()">Определение негативных последствий</button>
    </div>
  </mat-step>
</mat-stepper>