<h2 class="text-center">Моделирование угроз</h2>
<h3>Необходимость</h3>
<div class="description">
  Определение и моделирование актуальных угроз безопасности является необходимым и
  обязательным этапом построения системы защиты ИС. Данный процесс позволяет проанализировать разрабатываемую
  или существующую систему защиты, выявить уязвимые места, требующие дополнительного внимания,
  определить приоритеты в работе по устранению угроз, обеспечивая оптимальный выбор мер по защите информации.
</div>
<div class="description">
  5 февраля 2021 года ФСТЭК России утвердил методический документ «Методика оценки угроз безопасности информации».
  Методика определяет порядок и содержание работ по определению УБИ, а также по разработке моделей УБИ.
</div>
<h3>Проблема</h3>
<div class="description">
  Методика кардинально меняет подход к моделированию УБИ, что делает создание модели УБИ в соответствии с Методикой
  трудоемким процессом, необходимым для большого количества ИС. Для решения данной проблемы была разработана данная
  система.
</div>
<h3>Решение</h3>
<div class="description">
  Наша система оптимизирует процесс моделирования угроз за счет предустановленных связей между сущностями системы, тем
  самым, уменьшая время на разработку модели и снижая требования к специалисту.
</div>
<div class="description text-center">
  <a mat-flat-button class="big-button" color="primary" routerLink="/templates">Создать модель угроз</a>
</div>